/* font google */
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Indie+Flower&family=Roboto:wght@100&display=swap');

/* contoh pemakaian
    font-family: 'East Sea Dokdo', cursive;
    font-family: 'Indie Flower', cursive;
    font-family: 'Roboto', sans-serif;
*/

:root{
    --main-black: #000000;
    --main-lavender: #EEEEFF;
    --main-green: #87D68D;
}

*{
    padding : 0;
    margin : 0;
    box-sizing: inherit;
    background-size:cover;
    display:absolute;
    font-family: 'Roboto', sans-serif;
    box-sizing: content-box;
}

ul,li{
    list-style: none;
    
}

a{
    color:black;
    list-style: none;
    text-decoration: none;
}

/* navbar */
body nav{
    position: sticky;
    top:0;
    background-color: white;
    list-style-type: none;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.dropdown{
    position:relative;
    margin-right: 50px;
}

.dropdown:hover
{
    transition:0.1s;
    box-shadow: 0 3px 30px 0 rgb(183, 191, 255);
    cursor:pointer;
}

.dropdown:hover .dropdown-content{
    display:block;
    background-color: var(--main-lavender);

}

.dropdown-content{
    display:none;
    position:absolute;
    box-shadow: 0 3px 5px 0 white;
    border-radius:10px;

    
}

.dropdown-content a
{
    display: block;
    padding:10px 16px;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color:black;    
}

.dropdown-content a:hover
{
    background: skyblue;
    font-weight:800;
}

nav ul{
    display: flex;
}

nav li{
    margin:0 10px;
    margin-top: 25px;
}

li img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.image-home img
{
    width:50%;
}
    
.search-input{
    width:430px;
    height:auto;
    border-radius:2px;
    margin-left:-180px;
}

/* akhir navbar */

/* footer */
footer{
    border-top: 2px solid black;
}

.footer1
{
    display:flex;
    justify-content: space-evenly;
}

.imgfooter{
    justify-content: center;
    margin-left: -20px;
    
}

.footer1 a{
    text-decoration: none;
    color:black;
    margin-top: 30px;
}
.footer2 .socmed{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.socmed a{
    color: black;
    margin-top: 10px;
    margin-right: 15px;
    font-size: 25px;
}

.copyright{
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    padding-bottom: 15px;
}
/* akhir footer */

/* artikel */
/* awal artikel */

article h1{
    text-align: center;
    margin: 20px 0;
    font-size: 68px;
    font-weight: 600;
    text-shadow: 2px 1px var(--main-green);
}

form p, form label{
    font-size: 24px;
    margin-bottom: 5px;
}

.masuk h3
{
    font-size: 30px;
    font-weight: bold;
}

.bodyform{
    background-color: var(--main-lavender);
    padding: 15px 10px;
    width:50%;
    margin: 20px auto;
    border-radius: 10px;
    border: 1px solid var(--main-black);
    box-shadow: 0 3px 10px 0 white;
}

@media (max-width: 969px) {
    form{
        width: 90%;
    }
}

@media (max-width: 969px) {
    form{
        width: 75%;
    }
}

input,textarea,select,button{
    font-size: 24px;
}

.form-grouping{
    margin: 0 auto 14px auto;
    padding: 4px;
}

.form-edit{
    display: block;
    width: 100%;
    height: 38px;
    padding: 3px 10px; 
    color: #78838f;
    background-clip: padding-box;
    border: 1px solid white;
    border-radius: 5px;
}

.form-edit:focus {
    border-color: #7fbaf8;
    outline: 0;
    box-shadow: 0 0 0 2px var(--main-blue);
}

label{
    display: flex;
    align-items: center;
    font-size: 24px;
    
}

.input-radio, .input-checkbox{
    display: inline-block;
    margin-right: 11px;
    min-height: 18px;
    min-width: 18px;
}

.send-button{
    display: block;
    border-radius: 16px;
    margin:auto;
    padding: 12px 30px;
    background-color: greenyellow;
    cursor: pointer;
}

.lupa
{
    text-align: center;
}
.lupa h4, .lupa h5

{
    font-size: 23px;
}

.send-button:hover
{
    transition:0.3s;
    opacity:60%;
}

.error-message{
    color:rgb(173, 11, 11);
    font-weight: 800;
}
/* Akhir artikel */