/* font google */
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Indie+Flower&family=Roboto:wght@100&display=swap');

/* contoh pemakaian
    font-family: 'East Sea Dokdo', cursive;
    font-family: 'Indie Flower', cursive;
    font-family: 'Roboto', sans-serif;
*/
:root{
    --main-black: #000000;
    --main-lavender: #EEEEFF;
    --main-green: #87D68D;
}

*{
    padding : 0;
    margin : 0;
    box-sizing: inherit;
    background-size: cover;
    display: absolute;
    font-family: 'Roboto', sans-serif;
    box-sizing: content-box;
}
ul,li{
    list-style: none;
    
}

a{
    color:black;
    list-style: none;
    text-decoration: none;
}



/* navbar */
body nav{
    position: sticky;
    top:0;
    background-color: white;
    list-style-type: none;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.dropdown{
    position:relative;
    margin-right: 50px;
}

.dropdown:hover
{
    transition:0.1s;
    box-shadow: 0 3px 30px 0 rgb(183, 191, 255);
    cursor:pointer;
}

.dropdown:hover .dropdown-content{
    display:block;
    background-color: var(--main-lavender);

}

.dropdown-content{
    display:none;
    position:absolute;
    box-shadow: 0 3px 5px 0 white;
    border-radius:10px;

    
}

.dropdown-content a
{
    display: block;
    padding:10px 16px;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color:black;    
}

.dropdown-content a:hover
{
    background: skyblue;
    font-weight:800;
}

nav ul{
    display: flex;
}

nav li{
    margin:0 10px;
    margin-top: 25px;
}

li img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.image-home img
{
    width:50%;
}

.search-input{
    width:430px;
    height:auto;
    border-radius:2px;
    margin-left:-180px;
}

/* akhir navbar */
/* footer */
footer{
    border-top: 2px solid black;
}

footer{
    border-top: 2px solid black;
}

.footer1
{
    display:flex;
    justify-content: space-evenly;
}

.imgfooter{
    justify-content: center;
    margin-left: -20px;
    
}

.footer1 a{
    text-decoration: none;
    color:black;
    margin-top: 30px;
}
.footer2 .socmed{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.socmed a{
    color: black;
    margin-top: 10px;
    margin-right: 15px;
    font-size: 25px;
}

.copyright{
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    padding-bottom: 15px;
}
/* akhir footer */

/* artikel */
article h3
{
    text-align: center;
    margin: 10px 0;
    font-size: 32px;
}

.container-filter
{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box
{
    background-color: var(--main-lavender);
    border-radius: 5px;
    height: 250px;
    border: 1px solid black;
}


.container-produk
{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.container-produk img
{
    width: 65%;
}

.headhead h3
{
    text-align: center;
    font-weight: bolder;
    text-shadow: 2px 2px 3px lavender;
    border-top: 1px black solid;
    margin-left: 100px;
    margin-right: 100px;
}

.produk-row
{
    margin: 20px;
}

.column-produk
{
    margin: 30px;
}